<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/styles/style.css">
    <h1>Device Settings template</h1>
</head>

<body>
        <div style="width:600px;">
        <fieldset>
            <legend>Wired Client Interface Configuration</legend>
            <p>A</p>
            <p>B</p>
            <p>C</p>
            <p>D</p>
        </fieldset>
        </div>

        <div style="width:500px;">
        <fieldset>
            <legend>Wired Client Port Forwarding and NAT from private network</legend>
            <p>A</p>
            <p>B</p>
            <p>C</p>
            <p>D</p>
        </fieldset>
        </div>

        <div style="width:500px;">
        <fieldset>
            <legend>Advanced Settings</legend>
            <p>A</p>
            <p>B</p>
            <p>C</p>
        </fieldset>
        </div>
        <br>
        <span></span>

</body>


</html>
